
*{
    margin: 0px;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}
.logo{
    color: rgb(123, 123, 233);
    font-size: 28px;
    font-weight: bold;
}

.hamburger{
    display: none;
}
.navbar div{
    display: flex;
}
.nav{
    display: flex;
    gap: 30px;
}
#firstpage{
    display: flex;
}
.smallScreen{
    display: none;
}
@media screen and (max-width: 1100px) {
    header {
      padding: 0 40px;
    }
  }
  
  @media screen and (max-width: 600px) {
    header {
      padding: 0 15px;
    }
  
    .hamburger {
      display: block;
      cursor: pointer;
    }
  
    .hamburger .line {
      width: 30px;
      height: 3px;
      background-color: #4169e1;
      margin: 6px 0;
    }
  
    .line1 {
      transform: translate(0, 9px) rotate(-45deg);
    }
  
    .line2 {
      opacity: 0;
    }
  
    .line3 {
      transform: translate(0, -9px) rotate(45deg);
    }
  
    .navbar {
      height: 0;
      position: absolute;
      top: 80px;
      left: 0;
      right: 0;
      width: 100vw;
      background-color: #e9eef3;
      transition: 0.2s;
      overflow: hidden;
    }
  
    .navbar.join-community {
      height: 120px;
    }
  
    .navbar div {
      display: block;
      width: fit-content;
      margin: 20px auto 0 auto;
      text-align: center;
      transition: 0.5s;
    }
  
    .navbar div a {
      font-size: 17px;
      padding: 7px 18px;
      margin-bottom: 12px;
    }
  
    .navbar div a:hover {
      color: #fefefe;
      background-color: #4169e1;
    }
  
    .navbar div a.join-community {
      color: #fefefe;
      background-color: #4169e1;
    }
  }